@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@layer base {

    html{
        @apply scroll-smooth;
    }

    body {
        overflow-x: hidden;
        font-family: 'Source Sans Pro', sans-serif;
        background-image: url("https://firebasestorage.googleapis.com/v0/b/dnajsd-f03e4.appspot.com/o/images%2Fsite_bg.webp?alt=media&token=99b29fd0-77a4-4656-a16b-92b22a1ebc7c");

        background-color: #f3f3f3;
        background-repeat: repeat;
        background-position: center;
        background-size: cover;

        
    @apply !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-amber-500 !scrollbar-thumb-rounded-lg
            flex flex-col min-h-screen;
    
    }
    .h {
        font-family: 'Poppins', sans-serif;
    }
}
.nav-item {
    @apply text-slate-600 hover:text-yellow-400 transition duration-[.4s] cursor-pointer;
}

.input-boxes{
    @apply p-2 rounded-lg focus:!outline-4 !outline-gray-700 ring-4 ring-gray-400 required:ring-red-600;
}
